
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.cdnfonts.com/css/miama');


.miama-writing{
  font-family: "Miama", sans-serif;
  font-optical-sizing: auto;
  font-weight:400 ;
  font-style: normal;
}
                

.inter_writing{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0px;
}

.miama-writing{
  font-weight: 500;
  font-size: 8rem;
  /* padding: auto; */
}


/* Nav-bar section */

/* sheared */
.brand{
    font-weight: 900;
    font-size: 2.1rem;
    color: rgba(230, 83, 60, 1);
    margin-left: 30px;
}

.display_flex{
  display: flex;
}

.text-size{
  font-size: 3rem;
  color: #FFFFFF;
}

.btn-primary{
  background-color: #E6533C;
  font-weight: 600;
  font-size: 1.1rem;
  padding: 16px 45px;
  color: #FFFFFF;
  border: none;
  border-radius: 42px;
}

/* nav styles */

.nav-bar{
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  padding-left:280px ;
  padding-right:160px ;
  padding-top: 40px;
  /* margin: 0 auto; */
  /* margin: 200px; */
}

.nav-item{
  list-style: none;
  margin-right: 30px;
  /* font-weight: 400;
  font-size: 1rem; */
  padding: 12px;
  
}

.nav-link{
   text-decoration: none;
   color: #FFFFFF;
     font-weight: 400;
  font-size: 1rem;
  
}

.link-color{
  background-color:#E6533C ;
  border-radius: 46px;

}

.nav-links{
  
border: 1px solid rgba(255, 255, 255,0.1);
  border-radius: 39px;
  
}


.bg-color{
  background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%),
  linear-gradient(0deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); 
 
}

body{
  background-color: black;
}
/* nav-title */

.banner-content{
  justify-content: center;
  align-items: center;
}
.banner-title{
  color: #FFFFFF;
  font-size: 6rem;
}

.banner{
  min-width:  50%;
}

.btn-gather{
  gap: 14px;
  margin-bottom: 75px;
}

.banner-description{
  color: rgba(255, 255, 255, 0.5);
  padding-bottom: 24px;
}

.btn-secondary{
  font-weight: 600;
  font-size: 1.1rem;
  padding: 16px 45px;
  background-color: transparent;
  color: #FFFFFF;
  border:1px solid white ;
  border-radius: 42px;
}

.banner-content> .adjust-img{
  /* max-width: 50%; */
  /* bottom: 0px; */
}

.btn-img{
  margin-left: -350px;
  margin-bottom: -100px;
  background-color: #FFFFFF;
  background-color: transparent;
  filter: blur(#FFFFFF);
  border:1px solid red;

}

#experi-badge{
  padding: 20px 20px 20px 75px;
  font-size: 1rem;
  font-weight: 400;
  /* left: 0px; */
  color: rgba(255, 255, 255, 0.5);
}

#experi-num{
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

/* change habit style */

.change-habit-first{
  max-width: 1044px;
  margin: 0 auto;
  margin-top: 90px;
}

main{
  /* background-color: black; */
  max-width: 100%;
  /* margin: 0 auto; */
  /* align-items: center;
  justify-items: center; */
}

.change-continer{
  max-width:100% ;
  text-align: center;
  /* color: #FFFFFF;
  color: rgba(255, 255, 255, 0.5); */
}

.change-heading{
  font-weight: 800;
  font-size: 3rem;
  color: #FFFFFF;
  margin-bottom: 14px;
  margin: 0px;
}

.change-descri, .card-discri{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
}

.card-container{
  margin-top: 55px;
}

.change-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap:30px;
 
}

.change-inside{  
  border-radius: 100px;
}

.card-title{
  color: white;
}
.card-title, .card-discri{
  text-align: center;
}

.change-inside {
  /* margin-left: 50px; */
}

/* Run section styles */
.run-section , .team-container-2{
  max-width: 1050px;
  margin: 0 auto;
  background-color: #222222;
  border-radius: 20px;
  padding: 35px 35px 30px 54px;
  margin-top: 100px;
}

.run-detail > .run-card-discri{
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  font-size: 1rem;
  max-width: 70%;
  margin-bottom: 32px;
}
 
 .run-img{
  width:360px ;
  height:312px ;
  border-radius: 18px;
  object-fit: cover;
  object-position: 100% 0;
  
 } 

/* BMI Calculator Styles*/

.bmi-heading{
  text-align: center;
  margin-top: 70px;
  margin-bottom:70px ;
  /* margin: 0 auto; */
}

.calculator-Bmi> .change-descri{
  padding-top: 0px;
  padding-bottom:px;
}

.bmi-container{
  background-color: #222222;
  /* max-height: 100%; */
  /* max-width: 100%; */
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  padding-left: 180px;
  padding-right:180px ;
  /* margin: 0 auto; */
  width: 100%;
  /* height: 100%; */
}

.bmi-chart-head{
  /* text-align: center; */
  color: #FFFFFF;
  font-size: 28px;
  font-weight: 900;
  padding-top: 50px;
  padding-bottom:50px ;
}

.bmi-table{
  padding-bottom:125px ;
  /* max-width: 100%; */
  /* gap: 30px; */
}

table{
  width: 50%;
  height: 216px;
  /* height: 50%; */
  border-collapse: collapse;
}

th, td{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 8pxs;
}

th{
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1rem;
}

td{
  text-align: center;
}

.calculator-Bmi{
  /* margin: 0 auto; */
  width: 100%;
}
.calculator-head{
  padding-top: 22px;
  padding-bottom: 10px;
  /* padding-bottom:50px ; */
}

#bmi_form{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  /* gap: 12px; */
  margin-bottom:130px ;

}

main input[type="number"] ,main input[type="text"]{
  width: 100px;
  height: 30px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.1);
    /* display: block; */
    /* width: 100%; */
    padding: 18px 40px;
    /* margin-block: 24px; */
    border: none;

    margin-top: 12px;
    /* margin-left: 12px; */
    /* gap: 12px; */
}

main input[type="button"]{
 margin-top:30px ;
 margin-bottom:50px ;
}

#activity-factor{
  width: 76%;
}



/* Categories styles */
.categories-heading{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}

.categories-img-conta{
  background-color:gray;
  margin: 0 auto;
  max-width:1050px ;
  border-radius: 20px;
}

.categories-img{
  display: grid;
  grid-template-columns: repeat(4 , 1fr);
  padding: 70px;
  gap: 20px;
  /* border-radius: 8px; */
}

.categories-each-img {
  border-radius: 15px;
}

.categories-img> .bottom-left {
  position: relative;
  bottom: 30px;
  /* text-decoration: none; */
}

.shoulder-workout{
  text-decoration: none;
}
.workout-for-man{
  text-decoration: none;
}
.workout-for-woman{
  text-decoration: none;
}
.muscle-builder{
  text-decoration: none;
}
.fat-loss{
  text-decoration: none;
}
.increase-strength{
  text-decoration: none;
}
.ab-workouts{
  text-decoration: none;
}
.bicep-workout {
  text-decoration: none;
}


/* Our Team styles */

.team{
  margin-top: 70px;
  /* margin-bottom: 55px; */
}

.team-container-1{
  text-align: center;
}

.team-img-name> img{
  width: 326px;
  height: 272px;
  object-fit: cover;
  border-radius: 18px;
}

.team-img-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.team-container-2{
  margin-top: 55px;
  padding: 20px 20px 20px 20px;
  /* margin-bottom:70px ; */
  /* gap: 70px; */
}

.team-img-name { 
  /* position: absolute;
  text-align: center; */
  color: #FFFFFF;
} 

 img>.bottom-left{
  /* color: #FFFFFF; */
  position: relative;
  bottom: 20px;
  /* left: 25px; */
}


/* Footer styles */

.footer-container{
  background-color: black;
  background-color: #222222;
  max-width: 100% ;
  /* margin: 0 auto; */
  margin-top: 70px;
  margin-bottom: 40px;
}

.footer-colum{
  /* width: 50%; */
  /* margin: 0 auto; */
  padding:60px 190px  170px 190px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 120px;
  justify-content: center;
}

.brand{
  font-weight: 900;
  font-size: 4rem;
  margin: 0;
}

.fitness-2, .fitness-3{
  /* gap: 102px; */
  color: #FFFFFF;
  /* list-style: none; */
  
}

.foot-li{
  list-style: none;
  font-size:18px ;
  padding-bottom: 20px;
  /* margin: 0px; */
}

.hori{
  width: 70%;
  margin-bottom: 100px;
  /* margin-bottom: 80px; */
  /* margin: 0 auto; */
}

 .change-descri> ul{
  /* text-align:center; */
  padding: 0px;
}

footer> .change-descri{
  margin: 0;
  padding-bottom: 100px;

}
.foot-cen{
  text-align: center;
  /* margin-bottom: 80px; */
}
